{% load static %}
<!--Footer starts here-->
<section class="footer">

    <div class="box-container">

        <div class="box">
            <a href="#" ><img class="logo1" src="{% static 'images/logo1.png' %}" alt="logo" ></a>
            <p>A Shop Destination to all kind of Products.</p>
            <div class="share">
                <a href="#" class="btn fab fa-facebook-f"></a>
                <a href="#" class="btn fab fa-twitter"></a>
                <a href="#" class="btn fab fa-instagram"></a>
                <a href="#" class="btn fab fa-linkedin"></a>
            </div>
        </div>
        
        <div class="box">
            <h3>our location</h3>
            <div class="links">
                <a href="#">Mumbai</a>
                <a href="#">Pune</a>
                <a href="#">Nashik</a>
                <a href="#">Navi Mumbai</a>
                <a href="#">Goa</a>
            </div>
        </div>

        <div class="box">
            <h3>quick links</h3>
            <div class="links">
                <a href="{% url 'index' %}">home</a>
                <a href="{% url 'category' %}">category</a>
                <a href="{% url 'products' %}">product</a>
                <a href="{% url 'about' %}">about</a>
                <a href="{% url 'contact' %}">contact</a>
            </div>
        </div>


    </div>

    <div class="credit"> created & Designed by <strong> Aman Rajbhar</strong> | all rights reserved! </div>
    <div class="copy">Copyright &copy 2023</div>

</section>

<!-- footer section ends -->

<script src="{% static 'app/js/script.js' %}"></script>
<script src="{% static 'app/js/cart.js' %}"></script>


</body>
</html>